body {
  background-color: #fff;
  font-family: "NOto Sans JP", "sans-serif";
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.isra {
  height: 5em;
  z-index: 2;
  grid-column-start: 2;
}

.homepage_image {
  grid-column-start: 2;
  grid-column-end: 5;
  height: 45vw;
}

.homepage_main_text_container {
  grid-column-start: 7;
  grid-column-end: 12;
}

.main_text {
  font-family: "NOto Sans JP", "sans-serif";
  margin: 1.5em 4em 1.5em 4em;
}
