body {
  background-color: #fff;
  font-family: "NOto Sans JP", "sans-serif";
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: red solid 2px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.isra {
  /* border: green solid 2px; */
  height: 5em;
  /* position: absolute; */
  z-index: 2;
  grid-column-start: 2;
}

.homepage_image {
  grid-column-start: 2;
  grid-column-end: 5;
  height: 45em;
  /* align-self: center;
  justify-self: center; */
}

.homepage_main_text_container {
  /* border: red 2px solid; */
  grid-column-start: 7;
  grid-column-end: 12;
  /* align-self: center; */
  justify-self: center;
}

.main_text {
  font-family: "NOto Sans JP", "sans-serif";
  /* border: green solid 2px; */
  /* padding: 0px 30px 0px 30px; */
  margin: 1.5em 4em 1.5em 4em;
}
